@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background: theme("colors.white");
    padding-inline: theme("padding.8");
    padding-block: theme("padding.7");
    box-shadow: theme("boxShadow.xl");
    border-radius: theme("borderRadius.lg");
    position: relative;
    overflow: hidden;
  }

  .card__line {
    position: absolute;
    top: 0;
    left: 0;
    width: theme("width.full");
    border: solid 0.125rem;
  }

  .card__header {
    color: theme("colors.dark-blue");
    font-weight: theme("fontWeight.semibold");
    font-size: theme("fontSize.xl");
  }

  .card__copy {
    font-size: 0.8rem;
    margin-top: theme("margin[1.5]");
    line-height: theme("lineHeight.6");
  }

  .card__figure {
    margin-top: theme("margin.6");
    display: flex;
    text-align: right;
  }

  .card__image {
    margin-left: auto;
  }
}
